In [17]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [18]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [19]:
df_green.registerTempTable('green')

In [20]:
df_green_revenue = spark.sql("""
SELECT 
    -- Revenue grouping 
    date_trunc("hour", lpep_pickup_datetime) AS hour,
    PULocationID AS zone,


    SUM(total_amount) AS total_amount,
    COUNT(1) AS count_records
FROM 
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
    AND
    lpep_pickup_datetime < '2022-01-01 00:00:00'
GROUP BY 
    1,2
;
""")

In [21]:
df_green_revenue.show()

+-------------------+----+------------------+-------------+
|               hour|zone|      total_amount|count_records|
+-------------------+----+------------------+-------------+
|2020-01-31 11:00:00| 220|            168.08|            6|
|2020-01-04 16:00:00| 196|210.44000000000005|           10|
|2020-01-04 20:00:00|  25|369.57000000000005|           23|
|2020-01-29 14:00:00| 203|             43.26|            2|
|2020-01-02 13:00:00|  74|1037.6299999999994|           71|
|2020-01-23 22:00:00|  35|             36.11|            2|
|2020-01-26 12:00:00|  35|            257.03|            8|
|2020-01-22 10:00:00|  74|1179.0599999999988|           83|
|2020-01-10 22:00:00| 216|            181.89|            5|
|2020-01-24 10:00:00| 260|            149.63|           10|
|2020-01-24 05:00:00| 133|             19.78|            1|
|2020-01-03 13:00:00| 250|              27.6|            2|
|2020-01-16 01:00:00|   7|             110.1|            9|
|2020-01-02 09:00:00|  66|             229.4|           12|
|2020-01-11 22:00:00|  42|325.09000000000015|           30|
|2020-01-16 20:00:00|  65| 501.2800000000002|           32|
|2020-01-30 14:00:00| 227|             27.22|            1|
|2020-01-19 19:00:00|  82|373.83000000000015|           31|
|2020-01-07 11:00:00|  89|294.15999999999997|           12|
|2020-01-08 15:00:00|  62|118.22000000000001|            5|
+-------------------+----+------------------+-------------+
only showing top 20 rows

In [22]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [23]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [24]:
df_yellow_revenue = spark.sql("""
SELECT 
    -- Revenue grouping 
    date_trunc("hour", tpep_pickup_datetime) AS hour,
    PULocationID AS zone,


    SUM(total_amount) AS total_amount,
    COUNT(1) AS count_records
FROM 
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
    AND
    tpep_pickup_datetime < '2022-01-01 00:00:00'
GROUP BY 
    1,2
;
""")

In [25]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [26]:
df_yellow_revenue.show()

+-------------------+----+------------------+-------------+
|               hour|zone|      total_amount|count_records|
+-------------------+----+------------------+-------------+
|2020-01-29 18:00:00| 229| 5427.470000000005|          304|
|2020-01-24 15:00:00| 264| 2249.289999999999|           93|
|2020-01-21 18:00:00| 162|14090.389999999996|          816|
|2020-01-18 00:00:00| 144| 2951.300000000001|          174|
|2020-01-17 03:00:00| 132|2031.0099999999995|           46|
|2020-01-23 19:00:00| 224|327.28000000000003|           16|
|2020-01-06 08:00:00|  43| 2765.499999999998|          169|
|2020-01-04 11:00:00| 140| 1662.959999999999|          112|
|2020-01-04 23:00:00|  87| 744.2199999999999|           36|
|2020-01-26 17:00:00| 107| 4251.760000000004|          274|
|2020-01-31 13:00:00| 140| 4380.170000000002|          277|
|2020-01-31 21:00:00|  50|1784.4399999999994|          104|
|2020-01-08 08:00:00| 249| 2433.119999999999|          165|
|2020-01-17 08:00:00|  13|2948.7200000000003|          162|
|2020-01-09 17:00:00| 262|2858.6699999999983|          187|
|2020-01-27 06:00:00| 238|2353.1599999999985|          126|
|2020-01-21 16:00:00| 151|1384.1999999999991|          102|
|2020-01-23 19:00:00| 164| 5608.690000000012|          321|
|2020-01-24 12:00:00| 186| 7253.490000000013|          401|
|2020-01-04 21:00:00| 233| 1634.709999999999|          112|
+-------------------+----+------------------+-------------+
only showing top 20 rows

In [27]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [28]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('total_amount','green_total_amount') \
    .withColumnRenamed('count_records','green_count_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('total_amount','yellow_total_amount') \
    .withColumnRenamed('count_records','yellow_count_records')

In [29]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [30]:
df_join.show()

+-------------------+----+------------------+-------------------+-------------------+--------------------+
|               hour|zone|green_total_amount|green_count_records|yellow_total_amount|yellow_count_records|
+-------------------+----+------------------+-------------------+-------------------+--------------------+
|2020-01-01 00:00:00|   3|              null|               null|               25.0|                   1|
|2020-01-01 00:00:00|   4|              null|               null|             1004.3|                  57|
|2020-01-01 00:00:00|   7| 769.7299999999996|                 45|  455.1700000000002|                  38|
|2020-01-01 00:00:00|  12|              null|               null| 106.99999999999999|                   6|
|2020-01-01 00:00:00|  37|            175.67|                  6| 161.60999999999999|                   7|
|2020-01-01 00:00:00|  40|            168.98|                  8|  89.97000000000001|                   5|
|2020-01-01 00:00:00|  45|              null|               null|  732.4800000000001|                  42|
|2020-01-01 00:00:00|  47|              13.3|                  1|                8.3|                   1|
|2020-01-01 00:00:00|  51|              17.8|                  2|               31.0|                   1|
|2020-01-01 00:00:00|  62|             15.95|                  1|              61.43|                   1|
|2020-01-01 00:00:00|  68|              null|               null|  7825.070000000012|                 396|
|2020-01-01 00:00:00|  73|              null|               null|               17.3|                   1|
|2020-01-01 00:00:00|  74|317.09000000000015|                 24|  586.2100000000003|                  47|
|2020-01-01 00:00:00|  77| 75.99000000000001|                  2|             134.24|                   3|
|2020-01-01 00:00:00|  80|            364.32|                 13|              371.4|                  20|
|2020-01-01 00:00:00|  83|              94.1|                  7|                9.8|                   1|
|2020-01-01 00:00:00|  88|              null|               null|              823.8|                  36|
|2020-01-01 00:00:00|  89|              11.3|                  1|              48.16|                   2|
|2020-01-01 00:00:00|  94| 64.24000000000001|                  3|               13.3|                   1|
|2020-01-01 00:00:00|  95|             202.2|                 15|                6.3|                   1|
+-------------------+----+------------------+-------------------+-------------------+--------------------+
only showing top 20 rows

In [31]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [34]:
df_join = spark.read.parquet('data/report/revenue/total')

In [35]:
df_join.show()

+-------------------+----+------------------+-------------------+-------------------+--------------------+
|               hour|zone|green_total_amount|green_count_records|yellow_total_amount|yellow_count_records|
+-------------------+----+------------------+-------------------+-------------------+--------------------+
|2020-01-01 00:00:00|  14|              null|               null|                8.8|                   1|
|2020-01-01 00:00:00|  15|              null|               null|              34.09|                   1|
|2020-01-01 00:00:00|  17|195.02999999999997|                  9| 220.20999999999998|                   8|
|2020-01-01 00:00:00|  25|             531.0|                 26|             324.35|                  16|
|2020-01-01 00:00:00|  32| 68.94999999999999|                  2|               18.0|                   1|
|2020-01-01 00:00:00|  43|            107.52|                  6|  6539.510000000013|                 390|
|2020-01-01 00:00:00|  49|266.76000000000005|                 14|             185.65|                  10|
|2020-01-01 00:00:00|  59|              50.9|                  3|               null|                null|
|2020-01-01 00:00:00|  69|              11.8|                  1| 106.52000000000001|                   4|
|2020-01-01 00:00:00|  71|              23.8|                  1|               null|                null|
|2020-01-01 00:00:00|  72|             67.53|                  2|               null|                null|
|2020-01-01 00:00:00|  75|278.14000000000004|                 26|  958.3499999999992|                  69|
|2020-01-01 00:00:00|  78|             34.46|                  2|               null|                null|
|2020-01-01 00:00:00|  82| 305.1200000000001|                 28|               29.8|                   1|
|2020-01-01 00:00:00|  85|             64.76|                  4| 102.56000000000002|                   3|
|2020-01-01 00:00:00|  87|              null|               null| 2456.6699999999987|                 112|
|2020-01-01 00:00:00|  93|              null|               null| 210.27999999999997|                   3|
|2020-01-01 00:00:00| 107|              null|               null|  6441.030000000012|                 380|
|2020-01-01 00:00:00| 113|              null|               null| 3984.3200000000033|                 220|
|2020-01-01 00:00:00| 116| 328.7600000000001|                 18|  561.5100000000001|                  34|
+-------------------+----+------------------+-------------------+-------------------+--------------------+
only showing top 20 rows

In [36]:
df_zones = spark.read.parquet('zones/')

In [37]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [38]:
df_join

DataFrame[hour: timestamp, zone: int, green_total_amount: double, green_count_records: bigint, yellow_total_amount: double, yellow_count_records: bigint]

In [39]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [41]:
df_result.drop('LocationID').show()

+-------------------+----+------------------+-------------------+-------------------+--------------------+---------+--------------------+------------+
|               hour|zone|green_total_amount|green_count_records|yellow_total_amount|yellow_count_records|  Borough|                Zone|service_zone|
+-------------------+----+------------------+-------------------+-------------------+--------------------+---------+--------------------+------------+
|2020-01-01 00:00:00|  14|              null|               null|                8.8|                   1| Brooklyn|           Bay Ridge|   Boro Zone|
|2020-01-01 00:00:00|  15|              null|               null|              34.09|                   1|   Queens|Bay Terrace/Fort ...|   Boro Zone|
|2020-01-01 00:00:00|  17|195.02999999999997|                  9| 220.20999999999998|                   8| Brooklyn|             Bedford|   Boro Zone|
|2020-01-01 00:00:00|  25|             531.0|                 26|             324.35|                  16| Brooklyn|         Boerum Hill|   Boro Zone|
|2020-01-01 00:00:00|  32| 68.94999999999999|                  2|               18.0|                   1|    Bronx|           Bronxdale|   Boro Zone|
|2020-01-01 00:00:00|  43|            107.52|                  6|  6539.510000000013|                 390|Manhattan|        Central Park| Yellow Zone|
|2020-01-01 00:00:00|  49|266.76000000000005|                 14|             185.65|                  10| Brooklyn|        Clinton Hill|   Boro Zone|
|2020-01-01 00:00:00|  59|              50.9|                  3|               null|                null|    Bronx|        Crotona Park|   Boro Zone|
|2020-01-01 00:00:00|  69|              11.8|                  1| 106.52000000000001|                   4|    Bronx|East Concourse/Co...|   Boro Zone|
|2020-01-01 00:00:00|  71|              23.8|                  1|               null|                null| Brooklyn|East Flatbush/Far...|   Boro Zone|
|2020-01-01 00:00:00|  72|             67.53|                  2|               null|                null| Brooklyn|East Flatbush/Rem...|   Boro Zone|
|2020-01-01 00:00:00|  75|278.14000000000004|                 26|  958.3499999999992|                  69|Manhattan|   East Harlem South|   Boro Zone|
|2020-01-01 00:00:00|  78|             34.46|                  2|               null|                null|    Bronx|        East Tremont|   Boro Zone|
|2020-01-01 00:00:00|  82| 305.1200000000001|                 28|               29.8|                   1|   Queens|            Elmhurst|   Boro Zone|
|2020-01-01 00:00:00|  85|             64.76|                  4| 102.56000000000002|                   3| Brooklyn|             Erasmus|   Boro Zone|
|2020-01-01 00:00:00|  87|              null|               null| 2456.6699999999987|                 112|Manhattan|Financial Distric...| Yellow Zone|
|2020-01-01 00:00:00|  93|              null|               null| 210.27999999999997|                   3|   Queens|Flushing Meadows-...|   Boro Zone|
|2020-01-01 00:00:00| 107|              null|               null|  6441.030000000012|                 380|Manhattan|            Gramercy| Yellow Zone|
|2020-01-01 00:00:00| 113|              null|               null| 3984.3200000000033|                 220|Manhattan|Greenwich Village...| Yellow Zone|
|2020-01-01 00:00:00| 116| 328.7600000000001|                 18|  561.5100000000001|                  34|Manhattan|    Hamilton Heights|   Boro Zone|
+-------------------+----+------------------+-------------------+-------------------+--------------------+---------+--------------------+------------+
only showing top 20 rows

In [43]:
df_result.drop('LocationID','zone').write.parquet('tmp/revenue-zones')